body ul, li, p{
    margin: 0px;
    padding: 0px;
list-style-type: none;
font-family: Roboto Condensed;
font-size: 1.2rem;
}
h1{
    text-align: center;
    font-family: Edu TAS Beginner;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.header{
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 20px;
}
.menu a{
    display: block;
    background-color: rgb(8, 95, 12);
    border-radius: 10px;
}
#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #127212;
}
.item{
    background-color: #8dce87;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 300px;
    border-radius: 10%;
}
img{
    width: 295px;
    height: 180px;
    border-radius: 10%;
}
.logo{
    width: 55px;
    height: 55px;
}